* {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.error {
    color: #ff0000;
}

form input[type=text],
form input[type=password],
select {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body{
    background-image: url("doodles.png");
}

form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*#cancel_button {*/
/*background-color: red;*/
/*color: white;*/
/*padding: 8px 8px;*/
/*margin: 8px 0;*/
/*border: none;*/
/*border-radius: 4px;*/
/*cursor: pointer;*/
/*}*/

#login_form [type=submit]:hover {
    background-color: #45a049;
}

#add_user{
    margin-top: 15%;
    margin-left: 27%;
    font-size: 14pt;

}

#add_user_text {
    margin-top: 5%;
    margin-left: 5%;
}

#admin_logout {
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    font-size: 17pt;
}

#modal {
    width: 300px;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #e5def2;
    padding: 20px;
}

#modal_add_user{
    top: 10%;
    width: 350px;
    margin: 10px auto;
    margin-left: 5%;
    border-radius: 5px;
    background-color: #e5def2;
    padding: 20px;
}

#modal_add_user [type=submit] {
    background-color: #4CAF50;
    width: 70px;
}

#modal_add_user [type=submit]:hover{
    background-color: #45a049;
}

#modal_add_user [type=button] {
    background-color: red;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#modal_add_user [type=button]:hover{
    background-color: #ff464d;
}

.main-table {
    top: 10%;
    width: 700px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    border-radius: 4px;
}

.main-table table {
    width: 100%;
    border-radius: 10px;
    border-spacing: 0;
}

.main-table th {
    text-align: left;
    padding: 10px;
    background: #3cb82f;
    margin: 0;
    color: white;
}

.main-table th:first-child {
    border-top-left-radius: 5px;
}

.main-table th:last-child {
    border-top-right-radius: 5px;
}

.main-table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.main-table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.main-table tr:nth-child(2n+1) td {
    background: #e4e4e4;
}

.main-table td {
    padding: 0 20px;
    background: #c8c8c8;
}
